@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300&family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Libre+Franklin:ital,wght@0,200;1,300;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important; }

/* HEADER */
.encabezado {
  display: flex;
  align-items: center;
  justify-content: center; }

.imgLogo {
  width: 500px;
  border-radius: 50%;
  margin-right: 53px; }

/* Nav  */
.navbar {
  padding: 0; }

.navbar-nav {
  margin: auto;
  display: flex;
  height: 56px;
  align-items: center; }

.contenedor1 {
  padding: 0%; }

.container-fluid {
  background-color: #1a2029;
  border: 2px solid #5f551e;
  padding: 0px; }

.nav-link {
  color: white;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif; }

.nav-link:hover {
  color: #9a8b38; }

.navbar-toggler {
  background-color: white; }

.nav-item {
  margin-left: 120px;
  margin-right: 126px;
  text-align: center; }

@media screen and (max-width: 768px) {
  /* header */
  .imgLogo {
    width: 300px;
    border-radius: 50%;
    margin-left: 45px; }
  .navbar {
    padding: 0; }
  .navbar-nav {
    margin: auto;
    display: flex;
    height: 200px; } }

.cardtext-bg-dark {
  border-radius: 0%; }

.card-title {
  font-size: 56px;
  text-decoration: none;
  color: #b18500;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 18px;
  margin-left: 5px;
  height: 205px;
  width: 60rem; }

.card-text {
  font-size: 20px;
  text-decoration: none;
  margin-left: 5px;
  color: white;
  width: 728px;
  font-family: "Lato", sans-serif; }

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* Atencion personalizada */
.main__mensaje {
  margin-top: 3rem;
  width: 93%;
  height: 15rem;
  background-color: #0e1116;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transform: translateY(-10rem);
  border: 2px solid #857416;
  margin-left: 60px; }

.main__cajaMensaje1 {
  width: 50%; }

.main__titleMensaje {
  color: #b18500;
  font-size: 2.5rem;
  width: 64rem;
  font-family: "Libre Baskerville", serif; }

.textMensaje {
  color: #ffffff;
  font-size: 1.1rem;
  margin-top: 1rem;
  font-family: "Lato", sans-serif; }

.botonMensaje {
  width: 20rem;
  height: 3rem;
  background-color: #b18500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-family: "Libre Baskerville", serif; }

.botonMensaje:hover {
  background-color: #b18500; }

.botonMensaje a {
  text-align: center;
  text-decoration: none;
  color: white; }

.botonMensaje a:hover {
  font-weight: bold; }

/*  sección de servicios index */
.servicios {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.servicios h2 {
  color: #b18500;
  font-size: 3rem;
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif; }

.servicios ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.servicios li {
  margin-bottom: 10px;
  color: #0e1116;
  font-size: 1.5rem;
  background-color: #1a202912;
  width: 900px;
  text-align: center;
  border-radius: 33px;
  font-family: "Lato", sans-serif; }

.servicios li:hover {
  background-color: #1a20298e;
  color: white; }

.botonVer {
  border-radius: 49px;
  background-color: #0e1116;
  width: 893px;
  font-size: 1.2rem;
  margin-left: 1px;
  margin-top: 30px;
  font-family: "Lato", sans-serif; }

.botonVer:hover {
  background-color: #1a2029c4; }

/* sección de equipo */
.equipo {
  padding: 20px;
  background-color: #adb5bd42;
  margin-top: 109px;
  margin-bottom: 108px; }

.equipo h2 {
  color: #b18500;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 54px;
  font-family: "Libre Baskerville", serif; }

.miembro {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.miembro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px; }

.miembro h3 {
  color: #b18500;
  font-size: 18px;
  margin-top: 40px;
  font-family: "Libre Baskerville", serif; }

.miembro p {
  color: #0e1116;
  font-size: 16px;
  text-align: center;
  font-family: "Lato", sans-serif; }

.miembro p:hover {
  background-color: #1a2029a6;
  color: white; }

/* galería de imágenes */
.galeria {
  padding: 20px;
  text-align: center; }

.galeria h2 {
  color: #b18500;
  font-size: 3rem;
  margin-bottom: 78px;
  font-family: "Libre Baskerville", serif; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 172px; }

.grid-item {
  overflow: hidden;
  border-radius: 5px; }

.grid-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  cursor: pointer; }

.grid-item img:hover {
  transform: scale(1.1); }

/* Certificaciones */
.certificaciones {
  background-color: #adb5bd42;
  padding: 20px; }

.certificaciones h2 {
  color: #b18500;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 37px;
  font-family: "Libre Baskerville", serif;
  height: 60px; }

.lista-certificaciones {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Lato", sans-serif; }

.lista-certificaciones li {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #0e1116;
  border-radius: 5px;
  background-color: #f8f9fafa; }

.lista-certificaciones li:hover {
  background-color: #1a2029c4;
  color: white; }

/* Contactanos */
.cta {
  padding: 40px;
  text-align: center; }

.cta h2 {
  color: #b18500;
  font-size: 2rem;
  margin-top: 85px;
  font-family: "Libre Baskerville", serif;
  height: 50px; }

.cta p {
  color: #0e1116;
  font-size: 18px;
  margin-top: 10px;
  font-family: "Lato", sans-serif; }

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #0e1116;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-family: "Lato", sans-serif; }

.cta-button:hover {
  background-color: #1a2029c4; }

@media screen and (max-width: 768px) {
  .main__cajaMensaje1 {
    width: 92%;
    height: 162px; }
  .main__mensaje {
    width: 100%;
    height: 19rem;
    background-color: #0e1116;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #857416;
    margin-left: 0px;
    flex-direction: column;
    margin-bottom: 48px;
    margin-top: 160px; }
  .textMensaje {
    margin-left: 10px;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 36px;
    width: 359px;
    text-align: inherit; }
  .main__titleMensaje {
    color: #b18500;
    font-size: 1.5rem;
    width: 380px;
    margin-top: 23px; }
  .botonMensaje {
    width: 16rem;
    height: 3rem;
    background-color: #b18500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px; }
  .card-title {
    font-size: 1.6rem;
    text-decoration: none;
    color: #b18500;
    margin-bottom: 18px;
    margin-left: 5px;
    width: 15rem;
    background-color: #1a202954; }
  .card-text {
    font-size: 1rem;
    text-decoration: none;
    margin-left: 5px;
    color: white;
    height: 139px;
    width: 275px;
    background-color: #1a202978; }
  .equipo h2 {
    color: #b18500;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 54px;
    height: 39px; }
  .galeria h2 {
    color: #b18500;
    font-size: 2rem;
    margin-bottom: 78px;
    height: 47px; }
  .certificaciones h2 {
    color: #b18500;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 37px;
    font-family: "Libre Baskerville", serif;
    height: 105px; }
  .cta h2 {
    color: #b18500;
    font-size: 2rem;
    margin-top: 85px;
    font-family: "Libre Baskerville", serif;
    height: 80px; } }

.servicios {
  padding: 40px;
  text-align: center; }

.servicios h2 {
  color: #b18500;
  font-size: 3rem;
  font-family: "Libre Baskerville", serif; }

.servicios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px; }

.servicio {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px; }

.servicio img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px; }

.servicio h3 {
  color: #b18500;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Libre Baskerville", serif; }

.servicio p {
  color: #0e1116;
  font-size: 16px;
  font-family: "Lato", sans-serif; }

.servicio:hover {
  background-color: #8a7c2eb2; }

.servicio h3:hover {
  color: #d8c34f; }

.servicio p:hover {
  color: white; }

@media screen and (max-width: 768px) {
  .servicios li {
    margin-bottom: 10px;
    color: #0e1116;
    font-size: 1.3rem;
    background-color: #1a202912;
    width: 342px;
    text-align: center;
    border-radius: 33px;
    margin-left: 0px; }
  .botonVer {
    border-radius: 49px;
    background-color: #0e1116;
    width: 400p;
    width: 342px;
    font-size: 1.2rem;
    margin-left: 1px;
    margin-top: 30px; }
  .servicios h2 {
    color: #b18500;
    font-size: 2rem;
    width: 388px;
    height: 39px; }
  .servicios {
    width: 398px;
    padding: 40px;
    text-align: center; } }

/* SOBRE NOSOTROS */
.tituloNosotros {
  text-align: center;
  margin-left: 297px;
  margin-bottom: 3rem;
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
  color: #b18500;
  margin-top: 110px; }

.imgEscribania {
  width: 100%;
  border-radius: 1%; }

.parrafoNosotros {
  font-size: 1rem;
  color: #0e1116;
  font-family: "Lato", sans-serif;
  margin-left: 95px;
  font-size: 1.5rem;
  margin-right: 13rem;
  width: 34rem; }

.contenidoNosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 6rem; }

@media screen and (max-width: 768px) {
  /* SOBRE NOSOTROS */
  .imgEscribania {
    width: 100%;
    border-radius: 1%;
    margin: 0; }
  .tituloNosotros {
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: "Libre Baskerville", serif;
    font-size: 3rem;
    color: #b18500; }
  .parrafoNosotros {
    color: #0e1116;
    font-family: "Lato", sans-serif;
    margin-left: 1px;
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 32px;
    width: 100%;
    text-align: center; }
  .contenidoNosotros {
    display: block;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 6rem; } }

/* seccion testimonios */
.tituloTestimonio {
  color: #b18500;
  font-size: 3rem;
  text-align: center;
  margin-top: 94px;
  font-family: "Libre Baskerville", serif; }

.testCarrusel {
  width: 100%;
  height: 53vh;
  background-color: #1a2029f0;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  margin-top: 128px;
  margin-bottom: 130px; }

.carousel {
  width: 1000px;
  margin-left: calc(50vw - 500px); }

.cont {
  width: 1000px;
  height: 500px;
  overflow: hidden;
  margin-top: 50px;
  margin-left: calc(50vw - 100px); }

.carousel-inner {
  width: 700px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 25px; }

.d-block {
  height: 331px;
  width: 551px;
  margin-left: 74px; }

@media screen and (max-width: 768px) {
  /* seccion testimonios */
  .tituloTestimonio {
    color: #b18500;
    font-size: 2rem;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 100px;
    font-family: "Libre Baskerville", serif;
    width: 383px;
    height: 81px; }
  .testCarrusel {
    width: 100%;
    height: 34vh;
    background-color: #0e1116; }
  .carousel {
    width: 1000px;
    margin-left: calc(50vw - 500px); }
  .cont {
    width: 1000px;
    height: 500px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: calc(50vw - 100px); }
  .carousel-inner {
    width: 700px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 25px; }
  .d-block {
    height: 170px;
    width: 298px;
    margin-left: 197px; }
  .carousel-control-next {
    margin-right: 249px; }
  .carousel-control-prev {
    margin-left: 242px; } }

.main__tituloFormulario {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
  color: #b18500; }

.form {
  display: flex;
  margin-top: 60px;
  width: 50%;
  align-items: stretch;
  flex-direction: column;
  margin-left: 436px;
  margin-bottom: 137px; }

.buttonForm {
  color: white;
  background-color: #0e1116;
  border-color: 0%;
  font-family: "Lato", sans-serif; }

.buttonForm:hover {
  background-color: #1a2029c4; }

.form-control:hover {
  background-color: #1a20293b;
  border-color: inherit;
  box-shadow: none; }

.form-label {
  font-family: "Libre Baskerville", serif;
  color: #0e1116; }

@media screen and (max-width: 768px) {
  /* FORMULARIO SECCION CONTACTO */
  .form {
    padding: 15px;
    display: flex;
    margin-top: -16px;
    width: 100%;
    align-items: stretch;
    flex-direction: column;
    margin-left: 2px;
    margin-bottom: 137px; }
  .titleForm {
    font-size: 2rem; }
  .form-label {
    font-size: 14px; } }

footer {
  background-color: #1a2029;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.footer-logo img {
  max-width: 186px;
  margin-left: 38px;
  margin-right: 167px; }

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1; }

.contacto,
.secciones {
  flex: 1;
  padding: 10px; }

.contacto h4,
.secciones h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #b18500;
  font-family: "Libre Baskerville", serif; }

.contacto p,
.secciones ul {
  margin: 0;
  font-family: "Lato", sans-serif; }

.secciones ul {
  list-style: none;
  padding: 0; }

.secciones li {
  margin-bottom: 5px; }

.secciones a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center; }

.secciones a i {
  margin-right: 5px; }

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center; }
  .footer-info {
    width: 100%; }
  .contacto,
  .secciones {
    width: 100%; } }

.footer-logo img {
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 69px; }

.main__mensaje {
  background-image: linear-gradient(#0e1116, #adb5bd42); }
