@import "../variables/colores";
@import "../variables/fuentes";

/* HEADER */


.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.imgLogo {
    width: 360px;
    border-radius: 50%;
    margin-right: 23px;

}

/* Nav  */

.navbar {
    padding: 0;
}

.navbar-nav {
    margin: auto;
    display: flex;
    height: 56px;
    align-items: center;
}

.contenedor1 {
    padding: 0%
}

.container-fluid {
    background-color: #1a2029;
    border: 2px solid #5f551e;
    padding: 0px;
}


.nav-link {
    color: white;
    font-size: 1rem;
    font-family: $titulo;
}

.nav-link:hover {
    color: #9a8b38;
}

.navbar-toggler {
    background-color:transparent;

}
.header__imgNav{
    vertical-align: middle;
    width: 23px;
    background-color: transparent;
}

.nav-item {
    margin-left: 102px;
    margin-right: 67px;
    text-align: center;
}



@media screen and (max-width: 768px) {

    /* header */

    .imgLogo {
        width: 300px;
        border-radius: 50%;
        margin-left: 45px
    }

    // nav

    .navbar {
        padding: 0;
    }

    .navbar-nav {
        margin: auto;
        display: flex;
        height: 200px;
    }
}