@import "../variables/colores";
@import "../variables/fuentes";

/* SOBRE NOSOTROS */



 .tituloNosotros {
     text-align: center;
     margin-left: 297px;
    margin-bottom: 3rem;
    font-family: $titulo;
     font-size: 3rem;
    color: $marron;
     margin-top: 110px;
 }

 .imgEscribania {
width: 100%;
     border-radius: 1%;
}



 .parrafoNosotros {
     font-size: 1rem;
    color: $azul;     font-family: $parrafo;
    margin-left: 95px;
    font-size: 1.5rem;
    margin-right: 13rem;
     width: 34rem;
}


 .contenidoNosotros {
     display: flex;
     flex-direction: row;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 6rem;

}



@media screen and (max-width: 768px) {



    /* SOBRE NOSOTROS */

    .imgEscribania {
        width: 100%;
        border-radius: 1%;
        margin: 0;
    }

    .tituloNosotros {
        text-align: center;
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-family: $titulo;
        font-size: 3rem;
        color: $marron
    }


    .parrafoNosotros {
        color: $azul;
        font-family: $parrafo;
        margin-left: 1px;
        padding: 1rem;
        font-size: 1.2rem;
        margin-top: 32px;
        width: 100%;
        text-align: center;
    }


    .contenidoNosotros {
        display: block;
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 6rem;

    }

}